.mutual_start span{
  color: #47b2e4;
}
.mutual_start button{
    background-color: #47b2e4;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px;
    margin-top: 25px;
}
.mutual_start button:hover{
    background-color: #47b2e4c9;
}
.mutual_start p{
    color: rgba(0, 0, 0, 0.596);
}
.mutual_start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}
.breadcrumbs{
    height: 500px;
}
.inner-page{
    display: flex;
    flex-direction: column;
    background-color: #37517e;
    justify-content: center;
    align-items: center;
}
.inner-page .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-page h1{
    color: rgba(255, 255, 255, 0.842);
}
.inner-page p{
    color: rgba(255, 255, 255, 0.5);
}
.row1{
    display: flex;
    gap: 300px;
    margin-top: 100px;
}
.row2{
    display: flex;
    gap: 300px;
    margin-top: 60px;
}
.row1 a img,.row2 a img{
   background-color: white;
   padding: 40px;
   border-radius: 50%;
}
.row1 a img:hover,.row2 a img:hover{
    background-color: rgba(255, 255, 255, 0.507);

}
.row1 a p, .row2 a p{
    text-align: center;
    color: rgba(255, 255, 255, 0.842);
    margin-top: 20px;
}
.row1 a p:hover,.row2 a p:hover{
    color: #47b2e4;
}
.footer-newsletter button{
    border: none;
    padding: 25px;
    background-color: #47b2e4;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.footer-newsletter button:hover{
    background-color: #47b2e4c7;
}
.search-stocks button{
    margin-top: 50px;
    border: none;
    color: rgba(0, 0, 0, 0.836);
    border-radius: 50px;
    padding: 15px;
    
}
.search-stocks{
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.search-stocks button:hover{
    color: #47b2e4;
    background-color: white;
}
.famous-stocks{
    display: flex;
    gap: 120px;
    margin-top: 50px;
}
.famous-stocks p{
    margin-top: 19px;
    transition: transform .3s;
}
.famous-stocks p:hover{
    color: #47b2e4;
    margin-top: 20px;
}
#exstock{
    margin-top: 30px;
}

form {
    color: #212121;
    display: flex;
    padding: 2px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
input[type="search"] {
    border: none;
    background: white;
    margin: 0;
    padding: 18px 20px;
    font-size: 20px;
    color: inherit;
    border: none;
    border-radius: inherit;
  }
  
input[type="search"]::placeholder {
    color: #605f5f;
}
input[type="search"]:focus,button[type="submit"]:focus{
    border-color: transparent;
    box-shadow: 0 0 3px 0 transparent;
    outline: none;
}
button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 60px;
  padding: 0;
  margin: 0;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
  background-color: white;
  background-position-x: 8px;
}

button[type="submit"]:hover {
  opacity: 1;
}
.exbonds button{
    margin-top: 50px;
    border: none;
    color: rgba(0, 0, 0, 0.836);
    border-radius: 50px;
    padding: 15px;
    
}
.exbonds{
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.exbonds button:hover{
    background-color: #47b2e4;
    color: white;
}