
form {
    color: #212121;
    display: flex;
    padding: 2px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
input[type="search"] {
    border: none;
    background: white;
    margin: 0;
    padding: 22px 24px;
    font-size: 24px;
    color: inherit;
    border: none;
    border-radius: inherit;
  }
  
input[type="search"]::placeholder {
    color: #605f5f;
}
input[type="search"]:focus,button[type="submit"]:focus{
    border-color: transparent;
    box-shadow: 0 0 3px 0 transparent;
    outline: none;
}
button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 60px;
  padding: 0;
  margin: 0;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
  background-color: white;
  background-position-x: 8px;
}

button[type="submit"]:hover {
  opacity: 1;
}
